<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Category</title>
</head>
<body>

{% block content %}
<h1>Add Category</h1>

<form method="post" novalidate>
    {% csrf_token %}

    <div>
        <label for="id_name">Name:</label>
        {{ form.name }}
    </div>

    <div>
        <label for="id_description">Description:</label>
        {{ form.description }}
    </div>

    <button type="submit">Save</button>
    <a href="{% url 'products:category_list' %}">Cancel</a>
</form>
{% endblock %}

</body>
</html>