<!-- templates/account/login.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Login</h1>

<!-- login.html -->
<form method="post">
  {% csrf_token %}
  {{ form.identifier.label_tag }} {{ form.identifier }}
  {{ form.password.label_tag }} {{ form.password }}
  <button type="submit">Войти</button>
</form>
<p>
    Don't have an account?
    <a href="{% url 'register_client' %}">Register as Client</a> or
    <a href="{% url 'register_staff' %}">Register as Staff</a>.
</p>
{% endblock %}